body {
  margin: 0;
  padding: 0;
  background: #faf6ee;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1000px;
}

.invitation {
  width: 100%;
  display: block;
}

#start-audio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
}